* {
  padding: 0 !important;
  margin: 0 !important;
  scroll-behavior: smooth;
  background-color: rgb(9, 9, 9);
}

body .splineContainer {
  position: relative;
  height: 100vh;
  background: rgb(9, 9, 9);
}
body .nav-container {
  margin: 0.8% !important;
}
body .nav-item {
  font-size: 1.4em;
  color: white;
}
body .navbar {
  background-color: rgb(6, 6, 7);
  margin-top: 3%;
}
body .myName {
  color: white;
}

html::-webkit-scrollbar {
  display: none;
}

.splineContainer {
  scroll-snap-type: y mandatory;
}

.projects {
  scroll-snap-align: start;
}

@media screen and (max-width: 480px) {
  .smallSpline {
    display: block;
  }
  .bigSpline {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .bigSpline {
    display: block;
  }
  .smallSpline {
    display: none;
  }
}
#loading {
  position: fixed; /* Fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 9999; /* Ensure it's on top of other content */
  background: #090909;
}

#loading img {
  width: 50%; /* Adjust the width of your loading animation as needed */
  height: 56.25%; /* Adjust the height of your loading animation as needed */
}

.projects {
  padding-block: 5% !important;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 27rem !important;
  width: 20rem;
  margin: 3% !important;
  border: 2px solid #520152 !important;
  box-shadow: #9d0173 0px 8px 15px !important;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: rotateY(-28deg) rotateX(-10deg) scale(1.1);
  -webkit-transform: rotateY(-28deg) rotateX(-10deg) scale(1.1);
  -moz-transform: rotateY(-28deg) rotateX(-10deg) scale(1.1);
  -ms-transform: rotateY(-28deg) rotateX(-10deg) scale(1.1);
  -o-transform: rotateY(-28deg) rotateX(-10deg) scale(1.1);
}

.card:hover .btn {
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
  -o-transform: scale(1.09);
}

h1 {
  text-align: center;
  padding-bottom: 2% !important;
  color: #ffffff !important;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 6rem !important;
}

.card-body, .card-title, .card-text {
  background-color: white !important;
  border-radius: 5%;
  padding: 2% !important;
}

.btn {
  margin: 2%;
  padding: 3% !important;
  background: #1d1d1d !important;
  transition: transfrom 600ms ease-in;
  -webkit-transition: transfrom 600ms ease-in;
  -moz-transition: transfrom 600ms ease-in;
  -ms-transition: transfrom 600ms ease-in;
  -o-transition: transfrom 600ms ease-in;
  color: white !important;
}

.fa-github {
  margin-right: 10px !important;
}

.gitbtn {
  border-radius: 10% !important;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.aboutContainer p {
  font-size: 20px;
  color: #880068 !important;
  padding: 1.8% !important;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.myImage {
  height: 100% !important;
  width: 30%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.realContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imgContainer, .description {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  #loadingImg {
    width: 100%; /* Set the width to fill the container */
    height: auto; /* Let the height adjust proportionally */
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
    -o-object-fit: contain;
       object-fit: contain;
  }
  #loading {
    background: #090909;
  }
  h1 {
    font-size: 3em !important;
  }
  .myAbout p {
    font-size: 18px;
    text-align: left;
  }
  .myAbout {
    height: 100%;
    width: 100%;
  }
  .myImage {
    height: 100% !important;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */