* {
  padding: 0 !important;
  margin: 0 !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: rgb(9, 9, 9);
}

.myMail {
  background: #fde8c3 !important;
  height: 300px;
  width: 300px;
}

body .splineContainer {
  position: relative;
  height: 100vh;
  background: rgb(9, 9, 9);
}
body .nav-container {
  margin: 0.8% !important;
}
body .nav-item {
  font-size: 1.4em;
  color: rgb(240, 222, 186);
  cursor: pointer;
  transition: all 300ms ease-in-out !important;
  -webkit-transition: all 300ms ease-in-out !important;
  -moz-transition: all 300ms ease-in-out !important;
  -ms-transition: all 300ms ease-in-out !important;
  -o-transition: all 300ms ease-in-out !important;
}
body .nav-item:hover {
  font-size: 26px;
  color: #880068;
}
body .navbar {
  background-color: rgb(6, 6, 7);
  margin-top: 3%;
}
body .myName {
  color: white;
}

html::-webkit-scrollbar {
  display: none;
}

.splineContainer {
  scroll-snap-type: y mandatory;
}

.projects {
  scroll-snap-align: start;
}

@media screen and (max-width: 480px) {
  .smallSpline {
    display: block;
  }
  .bigSpline {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .bigSpline {
    display: block;
  }
  .smallSpline {
    display: none;
  }
}
#loading {
  position: fixed; /* Fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 9999; /* Ensure it's on top of other content */
  background: #090909;
}

#loading img {
  width: 50%; /* Adjust the width of your loading animation as needed */
  height: 56.25%; /* Adjust the height of your loading animation as needed */
}

.projects {
  padding-block: 5% !important;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.card1 {
  height: 25rem !important;
  width: 18rem;
  margin: 3% !important;
  border: 2px solid #520152 !important;
  box-shadow: #9d0173 0px 8px 15px !important;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  cursor: pointer;
}

.btn1 {
  margin: 1% 1% 0% -4% !important;
  padding: 2% !important;
  background: #1d1d1d !important;
  transition: all 450ms ease-in-out !important;
  -webkit-transition: all 450ms ease-in-out !important;
  -moz-transition: all 450ms ease-in-out !important;
  -ms-transition: all 450ms ease-in-out !important;
  -o-transition: all 450ms ease-in-out !important;
  color: white !important;
}

.card1:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  border: 2px inset white;
  box-shadow: rgba(238, 238, 238, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 26px 86px !important;
}

.card1:hover .btn1 {
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
  -o-transform: scale(1.09);
  color: #880068 !important;
}

h1 {
  text-align: center;
  padding-bottom: 2% !important;
  color: #fde8c3 !important;
  font-family: "Fredericka the Great", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 4rem !important;
}

.card1-body, .card1-title, .card1-text {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%) !important;
  background-blend-mode: screen !important;
  padding: 2% !important;
}

.fa-github {
  margin-right: 10px !important;
}

.gitbtn {
  border-radius: 10% !important;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.aboutContainer p {
  font-size: 20px;
  color: #880068 !important;
  padding: 1% !important;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.myImage {
  height: 100% !important;
  width: 30%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.realContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imgContainer, .description {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  padding-bottom: 2% !important;
  color: #fde8c3 !important;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem !important;
}

h3 {
  text-align: center;
  padding-bottom: 0.6% !important;
  color: #fde8c3 !important;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem !important;
}

.fa-linkedin-in {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  margin-right: 1% !important;
  padding: 1px !important;
}

.icons a {
  text-decoration: none;
  color: #e2ebff;
  text-align: center;
  padding-right: 7% !important;
}

i {
  font-size: 30px;
}

.icons {
  margin-top: 5%;
  padding-top: 5% !important;
}

.fa-square-whatsapp {
  background-color: #009e61;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  margin-right: 1% !important;
  padding: 1px !important;
}

.fa-square-github {
  background-color: #980182;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  padding: 1px !important;
}

.chat a {
  text-decoration: none !important;
  color: inherit;
}

.iconContainer a {
  text-decoration: none !important;
  padding-right: 1% !important;
  color: inherit;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  height: 100%;
  width: 100%;
  margin: 3% !important;
  padding: 2% !important;
  margin-left: 10% !important;
}

.card2-body, .card2-title, .card2-text {
  background: #090909 !important;
  text-align: center;
  color: #fde8c3 !important;
}

.card2-title a {
  text-decoration: none !important;
  color: inherit;
  background-color: inherit !important;
}

.card2-body {
  margin-top: 20% !important;
}

.aboutSection {
  padding-bottom: 3% !important;
}

.contact {
  padding-bottom: 2% !important;
}

.spline {
  height: 450px;
}

.card2-body {
  height: 400px;
}

hr {
  height: 1px !important;
  border-top: 1px solid #230023 !important;
}

.card2-text a {
  text-decoration: none !important;
  color: #880068 !important;
}

.card2-text em {
  font-size: large;
}

.card2-text p {
  font-size: larger;
}

.card2-text {
  padding-top: 2% !important;
}

.fa-brands {
  transition: all 500ms ease-in-out !important;
  -webkit-transition: all 100ms ease-in-out !important;
  -moz-transition: all 500ms ease-in-out !important;
  -ms-transition: all 500ms ease-in-out !important;
  -o-transition: all 500ms ease-in-out !important;
}

.fa-brands:hover {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -ms-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

.linkedIn {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 480px) {
  #loadingImg {
    width: 100%; /* Set the width to fill the container */
    height: auto; /* Let the height adjust proportionally */
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
    -o-object-fit: contain;
       object-fit: contain;
  }
  #loading {
    background: #090909;
  }
  .card1 {
    height: 30rem !important;
    width: 20rem !important;
    margin-bottom: 5%;
  }
  .btn1 {
    margin-top: 3% !important;
  }
  h1 {
    font-size: 3em !important;
  }
  .myAbout p {
    font-size: 18px;
    text-align: left;
  }
  .myAbout {
    height: 100%;
    width: 100%;
  }
  .myImage {
    height: 100% !important;
    width: 100%;
  }
  .spline {
    display: none;
  }
  .contact {
    padding-top: -10%;
  }
}/*# sourceMappingURL=style.css.map */