// global styling 
*{
    padding: 0 !important;
    margin: 0 !important;
    scroll-behavior:smooth;
    background-color: black;
}


// Global varaibles 
$base-color: #ffffff;

body{
    .splineContainer{
        position: relative;
        height: 100vh;
    }


    .nav-container{
        margin: 0.8% !important;
    }
    
    .nav-item{
        font-size: 1.4em ;
        color: white;
    }
    .navbar{
        background-color: rgb(6, 6,7);
        margin-top: 3%;
    }
    .myName{
        color: white
    }
}

html::-webkit-scrollbar{
    display: none;
}

.splineContainer {
    scroll-snap-type: y mandatory;
  }
  
.projects{
    scroll-snap-align: start;
}

  @media screen and (max-width: 480px){
    .smallSpline{
        display: block;
    }
    .bigSpline{
        display: none;
    }
  }

  @media screen and (max-width: 1400px){
    .bigSpline{
        display: block;
    }
    .smallSpline{
        display: none;
    }
  }

  #loading {
    position: fixed; /* Fixed positioning to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999; /* Ensure it's on top of other content */
    background:#090909;
}

#loading img {
    width: 50%; /* Adjust the width of your loading animation as needed */
    height: calc(100% * 9 / 16); /* Adjust the height of your loading animation as needed */
}

@media screen and (max-width: 480px){
    #loadingImg{
        width: 100%; /* Set the width to fill the container */
        height: auto; /* Let the height adjust proportionally */
        max-width: 100%; /* Ensure the image doesn't exceed its original size */
        object-fit: contain; 
    }
    #loading{
        background: #090909;
    }


}
